
/* styles.css */

*{
    --bgBase: #272727; 
    --floatBG: hsl(0, 0%, 49%);
    --buttonC: rgb(131, 131, 131);
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--bgBase);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--floatBG);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 50% !important;
    min-height: 50% !important;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 0; /* No spacing between buttons */
    margin-bottom: 20px;
}

.button-group button {
    flex: 1; /* All buttons take equal space */
    margin: 5px;
    background-color: var(--buttonC);
    color: #fff;
    border: 1px solid black;
    padding: 10px;
    margin: 0; /* Remove any margin */
    border-radius: 0; /* Remove rounded corners to align perfectly */
    cursor: pointer;

}

.button-group button:hover {
    background-color: #0056b3;
}

.links {
    display: none;
    padding-left: 10%;
    margin-top: 20px;
    text-align: left;
}

.links a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin: 5px 5px;
}

.links a:hover {
    text-decoration: underline;
}
